<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Produtos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body onload="idLinhas()">

    <header th:replace="~{index :: menu}"></header>


    <section class="pt-3">
        <div class="container" >

            <h1 th:if="${mensagem}" th:text="'Produtos de ' + ${mensagem}"></h1>
            <form action="/produtos/ver" method="post">
                <div class="input-group mb-3 pt-3" style=" width:400px">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nome</span>
                    </div>
                    <input type="text" class="form-control" placeholder="digite aqui" name="nome">
                    <button type="submit" class="btn btn-success pl-3" value="buscar">Buscar</button>
                </div>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th class="table-success" scope="col">id</th>
                    <th class="table-success" scope="col">Nome</th>
                    <th class="table-success" scope="col">Quantidade</th>
                    <th class="table-success" scope="col">Preço Compra</th>
                    <th class="table-success" scope="col">Preço Revenda</th>
                    <th class="table-success" scope="col">Tipo</th>
                    <th class="table-success d-flex justify-content-center" scope="col" >Apagar</th>
                </tr>

                </thead>
                <tbody>
                <tr class="linha" th:each="produto : ${produtos}" onclick="selecionar(id)">
                    <th th:text="${produto.id}"></th>
                    <td><span class="nome" th:value="${produto.id}" th:text="${produto.nome}"></span></td>
                    <td th:text="${produto.quantidade}"></td>
                    <td th:text="${produto.precoCompra}"></td>
                    <td th:text="${produto.precoRevenda}"></td>
                    <td th:text="${produto.tipo}"></td>
                    <td><a th:href="@{/produtos/excluir/{id} (id = ${produto.id})}"><span class="material-icons d-flex justify-content-center">delete</span></a></td>
                </tr>
                </tbody>
            </table>

            <h4> Produto selecionado </h4>
            <form method="post" action="/produtos/atualizar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nome</span>
                            </div>
                            <input type="text" id="recebeNome" class="form-control" name="nome" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="col-md-6 bg-light">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Quantidade</span>
                                <input type="number" name="quantidade" class="form-control" id="recebeQnt">
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">

                    <div class="botao col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Atualizar preço de compra</span>
                                <input type="number" step="0.01" class="form-control" placeholder="0,00" min="0" required="true" id="precoCompra" name="precoCompra">
                                <input type="hidden" name="id" id="recebeID">
                                <input type="hidden" name="tipo" id="recebeTipo">
                            </div>
                    </div>

                    <div class="botao col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Atualizar preço de revenda</span>
                                <input type="number" step="0.01" class="form-control" placeholder="0,00" min="0" required="true" id="precoRevenda" name="precoRevenda">
                            </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-10" >
                    </div>
                    <div class="col-md-2" >
                        <button type="submit" class="btn btn-success mr-5" >Atualizar</button>
                    </div>
                </div>
            </form>

            <div class="row mt-3">
                <div class="col-md-6">
                    <h6>Lucros sobre o produto</h6>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Lucro baseado na quantidade x preço revenda </span>
                        <input type="text" readonly="true" class="form-control" id="recebeLucro">
                    </div>
                </div>
            </div>


        </div>
    </section>











<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="../produtos.js"></script>
</body>
</html>
